<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <title>Добавления языка</title>
</head>
<body>

<div class="col-6">

  <button class="btn btn-link"><a th:href="@{/admin}">На главную админскую страницу</a></button>
  <button class="btn btn-link"><a th:href="@{/public}">На главную страницу</a></button>
  <div th:if="${error}" class="alert alert-danger" role="alert">
    <p th:text="'Язык ' + ${name} + ' уже существует.'"></p> </p>
  </div>
  <form th:action="@{/admin/language}" method="post" th:object="${language}">
    <div class="mb-3">

      <label>Язык</label>
      <input class="form-control" type="text" th:field="*{name}"
             th:errorclass="is-invalid">
    </div>
    <input type="submit" value="Save">

  </form>
</div>

</body>
</html>