<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Добавление Раздела</title>
</head>
<body>

<div class="col-6">

    <button class="btn btn-link"><a th:href="@{/admin}">На главную админскую страницу</a></button>
    <button class="btn btn-link"><a th:href="@{/public}">На главную страницу</a></button>

    <div th:if="${error}" class="alert alert-danger" role="alert">
        <p th:text="'Раздел ' + ${name} + ' уже существует.'"></p> </p>
    </div>

  <form th:action="@{/admin/section}" method="post" th:object="${section}">

    <div class="mb-3">
      <label>Раздел</label>
      <input class="form-control" type="text" th:field="*{name}">

    </div>
    <input type="submit" value="Save">

  </form>
</div>
</div>

</body>
</html>