<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>History</title>
</head>
<body>
<button class="btn btn-link"><a th:href="@{/public}">На главную страницу</a></button>
<div class="col-sm-8">


    <table class="table table-striped table-hover" th:each="basket :${baskets}">
        <thead>
        <tr>
            <th th:text="'Номер заказа ' + ${basket.key.getId()}"></th>
            <th th:text="'Дата заказа '+ ${#temporals.format(basket.key.getOrderTime(), 'dd-MM-yyyy')}">OrderTime</th>
            <th th:if="${basket.key.bought}">
                <div class="alert alert-danger" role="alert">
                    Невозможно повторить заказ полностью, некоторых книг нет на складе
                </div>
                </th>
            <th th:unless="${basket.key.bought}"><a th:href="@{/user/basket/repeat(id=${basket.key.getId})}"> <button class="btn btn-success">Повторить заказ</button></a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <table class="table table-striped table-hover">
                <thead>
                <th>Name</th>
                <th>Section</th>
                <th>Author</th>
                <th>Language</th>
                <th>Price</th>
                <th>Count</th>
                </thead>
                <tbody>
                <tr class="success" th:each="book : ${basket.value}" >
                    <td th:text="${book.key.getName}"></td>
                    <td th:text="${book.key.getSectionName}"></td>
                    <td th:text="${book.key.getAuthorName}"></td>
                    <td th:text="${book.key.getLanguageName}"></td>
                    <td th:text="${book.key.getPrice}"></td>
                    <th th:text="${book.value}"></th>
                    <td th:if="${book.key.getCount<=0}">Книги нет на складе</td>
                    <td th:unless="${book.key.getCount<=0}"><a th:href="@{/user/basket(id=${book.key.getId})}">Добавить в корзину</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>