<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <title>Basket</title>
</head>
<body>
<button class="btn btn-link"><a th:href="@{/public}">На главную страницу</a></button>
<button class="btn btn-link"><a th:href="@{/user/basket/history}">История заказов</a></button>
<div class="col-sm-8">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Section</th>
      <th>Author</th>
      <th>Language</th>
      <th>Price</th>
      <th>Count of books</th>
      <th>Remove from basket</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${books}">
      <td th:text="${entry.key.getName}"></td>
      <td th:text="${entry.key.getSectionName}"></td>
      <td th:text="${entry.key.getAuthorName}"></td>
      <td th:text="${entry.key.getLanguageName}"></td>
      <td th:text="${entry.key.getPrice}"></td>
      <td th:text="${entry.value}"></td>
      <td><a th:href="@{/user/basket/remove(id=${entry.key.getId})}">Remove</a></td>
    </tr>
    </tbody>
  </table>

  <td th:if="${sum==0 and !bought}">
    <div class="alert alert-danger" role="alert">
      В корзине нет товаров
    </div>
  </td>

  <td th:if="${bought}">
    <div class="alert alert-success" role="alert">
      Заказ оформлен, статус заказа вы можете посмотреть в <a th:href="@{/user/basket/history}"><button class="btn btn-warning"> История заказов</button></a>
    </div>
  </td>

  <td th:if="${sum!=0}">
    <div th:if="${!bought}" class="alert alert-success" role="alert">
      <p th:text="'Сумма заказа равна '+${sum}"></p>
      <a th:href="@{/user/basket/buy}">
      <button class="btn btn-warning">Оформить заказ</button></a>
    </div>
  </td>
</div>

</body>
</html>