<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Crud operation</title>

</head>
<body>


<button class="btn btn-primary"><a th:href="@{admin/book/add}" style="color: white">Add Book</a></button>
<button class="btn btn-primary"><a th:href="@{admin/section/add}" style="color: white">Add Section</a></button>
<button class="btn btn-primary"><a th:href="@{admin/author/add}" style="color: white">Add Author</a></button>
<button class="btn btn-primary"><a th:href="@{admin/language/add}" style="color: white">Add Language</a></button>

<button class="btn btn-primary"><a th:href="@{admin/book}" style="color: white">Show Book</a></button>
<button class="btn btn-primary"><a th:href="@{admin/section}" style="color: white">Show Section</a></button>
<button class="btn btn-primary"><a th:href="@{admin/author}" style="color: white">Show Author</a></button>
<button class="btn btn-primary"><a th:href="@{admin/language}" style="color: white">Show Language</a></button>
</body>
</html>