<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <title>Login</title>
</head>
<body>

<div class="container">

  <div class="row">
    <div class="col-6">

     <button class="btn btn-primary"><a th:href="@{/public}" style="color: white">На главную страницу</a></button>
      <div th:if="${loginError}" class="alert alert-danger" role="alert">
        Bad Credentials, please try again.
      </div>

      <div th:if="${!loginError}" class="alert alert-success" role="alert">
        Please insert username and password
      </div>
      <form th:action="@{/login}" method="post" th:object="${user}">

        <div class="mb-3">
          <label>Username</label>
          <input class="form-control" type="text" th:field="*{username}" required>

        </div>

        <div class="mb-3">
          <label>Password</label>
          <input class="form-control" type="text" th:field="*{password}" required>
        </div>

        <input type="submit" value="Save">

      </form>
    </div>
  </div>
</div>


</body>
</html>