<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Registration</title>
</head>
<body>

    <div class="row">
        <div class="col-6">

            <button class="btn btn-link"><a th:href="@{/public}">Назад</a></button>

            <form th:action="@{/public/registration}" method="post" th:object="${user}">

                <div class="mb-3">
                    <label>Username</label>
                    <input class="form-control" type="text" th:field="*{username}">

                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input class="form-control" type="text" th:field="*{password}" required>
                </div>
                <td th:if="${notMatch}">
                    <div class="alert alert-danger" role="alert">
                        Пароли не совпадают, прошу введите повторно.
                    </div>
                </td>

                <td th:unless="${notMatch}">
                    <div class="alert alert-success" role="alert">
                        Подтвердите пароль.
                    </div>
                </td>
                <div class="mb-3">
                    <label> Confirm Password</label>
                    <input class="form-control" type="text" th:field="*{confirmedPassword}" required>
                </div>

                <input type="submit" value="Save">

            </form>
        </div>
    </div>


</body>
</html>