<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Update Book</title>
</head>
<body>

    <div class="col-6">

        <button class="btn btn-link"><a th:href="@{/admin}">На главную админскую страницу</a></button>
        <button class="btn btn-link"><a th:href="@{/public}">На главную страницу</a></button>

        <form th:action="@{/admin/book/update}" method="post" th:object="${book}">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label>Название книги</label>
                <input class="form-control" type="text" th:field="*{name}" th:value="*{name}">

            </div>

            <div class="mb-3">
                <label>Раздел</label>
                <select class="form-select" th:field="*{sectionId}">
                    <option th:each="section: ${sections}" th:value="${section.id}"
                            th:text="${section.name}">
                    </option>
                </select>
            </div>


            <div class="mb-3">
                <label>Автор</label>
                <select class="form-select" th:field="*{authorId}">
                    <option th:each="author: ${authors}" th:value="${author.id}"
                            th:text="${author.name}">
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label>Язык книги</label>
                <select class="form-select" th:field="*{languageId}">
                    <option th:each="language: ${languages}" th:value="${language.id}"
                            th:text="${language.name}">
                    </option>
                </select>
            </div>>

            <div class="mb-3">
                <label>Цена</label>
                <input class="form-control" type="number" th:field="*{price}" th:value="*{price}">
            </div>

            <div class="mb-3">
                <label>Количество на складе</label>
                <input class="form-control" type="number" th:field="*{count}">
            </div>
            <input type="submit" value="Save">

        </form>
    </div>
</body>
</html>