<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Update Author</title>
</head>
<body>

<div class="col-6">
    <button class="btn btn-link"><a th:href="@{/admin}">На главную админскую страницу</a></button>
    <button class="btn btn-link"><a th:href="@{/public}">На главную страницу</a></button>

    <form th:action="@{/admin/language/update}" method="post" th:object="${language}">

        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label>Язык</label>
            <input class="form-control" type="text" th:field="*{name}" value="${name}">
        </div>
        <input type="submit" value="Save">

    </form>
</div>

</body>
</html>