<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Книги</title>
</head>
<body>
<button class="btn btn-link"><a th:href="@{/admin}">На главную админскую страницу</a></button>
<button class="btn btn-link"><a th:href="@{/public}">На главную страницу</a></button>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Section</th>
            <th>Author</th>
            <th>Language</th>
            <th>Price</th>
            <th>Count</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.getName}"></td>
            <td th:text="${book.getSectionName}"></td>
            <td th:text="${book.getAuthorName}"></td>
            <td th:text="${book.getLanguageName}"></td>
            <td th:text="${book.getPrice}"></td>
            <th th:text="${book.count}"></th>
            <td><a th:href="@{/admin/book/update(id=${book.getId})}">Update</a></td>
            <td><a th:href="@{/admin/book/delete(id=${book.getId})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>