<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>MainPage</title>

    <style>
        .row {
            margin-top: 20px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-primary">

    <button th:if="!${isAuthenticated}" type="button" class="col-first btn btn-dark btn-sm"><a class="navbar-brand" href="/login">Login</a></button>

    <button th:if="!${isAuthenticated}" type="button" class="col-first btn btn-dark btn-sm"><a class="navbar-brand" href="/public/registration">Registration</a>
    </button>

    <button type="button" class="btn btn-dark btn-sm"><a class="navbar-brand"    th:text="${username}"></a></button>
    <button th:if="${isAuthenticated}" type="button" class="btn btn-dark btn-sm"><a class="navbar-brand" href="/user/basket/show" >basket</a></button>
    <button th:if="${isAuthenticated}" type="button" class="btn btn-dark btn-sm"><a class="navbar-brand" href="/logout" > Logout </a></button>
</nav>
<div class="row">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th> Разделы</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="section : ${sections}">
                <td ><a th:href="@{/public/section(id=${section.id})}" th:text="${section.getName}" ></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-8">

        <div class="card">
            <div class="card-body">
                <form class="row g-3" th:action="@{/public}" method="get" th:object="${filterObjectDTO}">

                    <input type="hidden" th:field="*{orderBy}">
                    <input type="hidden" th:field="*{mode}">

                    <div class="form-floating col">
                        <input class="form-control mr-sm-2" type="text" th:field="*{search}" >
                        <label>search</label>
                    </div>

                    <div class="form-floating col">
                        <select class="form-select" th:field="*{sectionId}">

                            <option selected value=""></option>

                            <option th:each="section: ${sections}" th:value="${section.id}"
                                    th:text="${section.name}">
                            </option>
                        </select>
                        <label>Section</label>
                    </div>

                    <div class="form-floating col">
                        <select class="form-select" th:field="*{authorId}">
                            <option selected value=""></option>
                            <option th:each="author: ${authors}" th:value="${author.id}"
                                    th:text="${author.name}">
                            </option>
                        </select>
                        <label>Authors</label>
                    </div>

                    <div class="form-floating col">
                        <select class="form-select" th:field="*{languageId}">
                            <option selected value=""></option>
                            <option th:each="language: ${languages}" th:value="${language.id}"
                                    th:text="${language.name}">
                            </option>
                        </select>
                        <label>Язык</label>
                    </div>

                    <div class="form-floating col">
                        <input class="form-control" type="number" th:field="*{amountFrom}"
                               placeholder="0"/>
                        <label>Amount from</label>
                    </div>

                    <div class="form-floating col">
                        <input class="form-control" type="number" th:field="*{amountTo}"
                               placeholder="10000"/>
                        <label>Amount to</label>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary">Применить</button>

                            <a th:href="@{/public}">
                                <button type="button" class="btn btn-primary">Сбросить</button>
                            </a>
                        </div>
                    </div>
                </form>        </div>
        <table class="table table-striped table-hover" th:object="${filterObject}">
            <thead>
            <tr>
                <th><a th:href="@{/public(orderBy=name,  mode=${#strings.equals(orderBy, 'name')}? ${mode} : 'asc')}">
                    Name
                </a></th>
                <th>Section</th>
                <th>Author</th>
                <th>Language</th>
                <th><a th:href="@{/public(orderBy=price,  mode=${#strings.equals(orderBy, 'price')}? ${mode} : 'asc')}">
                    Price
                </a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.getName}"></td>
                <td th:text="${book.getSectionName}"></td>
                <td th:text="${book.getAuthorName}"></td>
                <td th:text="${book.getLanguageName}"></td>
                <td th:text="${book.getPrice}"></td>
                <td th:if="${book.getCount<=0}">sold</td>
                <td th:unless="${book.getCount<=0}">
                    <a th:href="@{/user/basket(id=${book.getId})}">Add to basket</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

</body>
</html>